<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>第三方登录</title>
    <script th:inline="javascript">
        window.addEventListener("load", e => {
            const errMsg = [[${error}]]
            if (errMsg) {
                document.querySelector("#app").textContent = `系统错误: ${errMsg}`;
                return;
            }
            if(!window.opener) {
                document.querySelector("#app").textContent = "页面转跳错误，5s后返回主页";
                setTimeout(() => {
                    location.href = "/"
                }, 5000)
                return
            }
            const newToken = [[${newToken}]]
            document.querySelector("#app").textContent = newToken ? "登录成功，3s后页面自动关闭" : "关联成功，3s后页面自动关闭";
            window.opener.postMessage({
                name: 'thirdPlatformCallbackSuccess',
                data: {
                    result: [[${result}]],
                    newToken: [[${newToken}]]
                }
            })
            setTimeout(() => window.close(), 3000)
        })
    </script>

</head>
<body>
    <div id="app">

    </div>
</body>
</html>