a{ text-decoration: none; color: #007BFF;}
#list{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
#list a{
    color: rgb(66, 78, 103);
}
button{
    border: none;
    border-radius: 5px;
    margin: 0;
    outline: 0;
    color: #09AAFF;
    background-color: white;
    border: solid 1px rgb(195, 234, 255);;
    padding: 8px 15px;
    cursor: pointer;
}
button.primary{
    background: #09AAFF;
    border-color: rgb(195, 234, 255);
    color: white;
}
button.danger{
    background: rgb(255, 99, 9);
    border-color: rgb(255, 229, 195);
    color: white;
}
textarea{
    outline: none;
    font-size: 16px;
    margin: 0;
    width: 100%;
}
.app{
    width: 1000px;
    background-color: white;
    margin: 0px auto;
    opacity: 0.95;
    padding: 0 10px;
    overflow: hidden;
}
*::-webkit-scrollbar{
	width:5px;
}
*::-webkit-scrollbar-track{
	background: #f6f6f6;
	border-radius:2px;
}
*::-webkit-scrollbar-thumb{
	background: #aaa;
	border-radius:2px;
}
*::-webkit-scrollbar-thumb:hover{
    background: #747474;
    width: 10px;
}
*::-webkit-scrollbar-corner{
	background: #f6f6f6;
}

body,html{
    height: 100%;
    margin: 0;
    background-color: #eee;
    background-image: url("/src/imgs/bg/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.path-tag{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.path-tag li{
    position: relative;
    display: inline-block;
    margin-right: 3px;
    margin-top: 10px;
}
.path-tag li a{
    display: inline-block;
    position: relative;
    color: #007BFF;
    /* color: black; */
    font-size: 12px;
    padding: 3px 20px;
    z-index: 1;
}
.path-tag li::before{
    top: 0;
    transform: skewX(30deg);
}
.path-tag li::after{
    bottom: 0;
    transform: skewX(-30deg);
}
.path-tag li::after,.path-tag li::before{
    pointer-events: none;
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 50%;
    background-color: rgb(234, 250, 255);
    z-index: 0;
    transition: all 0.1s;
}
.path-tag li:hover::before,.path-tag li:hover::after{
    background-color: rgb(76, 170, 247);
}
.path-tag li:hover a{
    color: rgb(255, 255, 255);
}
.form-item{
    width: 90%;
    margin: 0 auto;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-item>label{
    display: inline-block;
    text-align: right;
    flex-grow: 1;
    margin-right: 10px;
}
.form-item>.content{
    flex-grow: 5;
}
.form-item>*{
    flex-basis: 0;
    flex-shrink: 0;
}
.form-item>:nth-child(1){
    flex-grow: 1;
}
.form-item>input{
    flex-grow: 5;
    outline: none;
    margin-left: 30px;
}
.form-item>input[type="text"]{
    padding: 5px;
    text-indent: 5px;
}

.input-group{
    width: 100%;
    position: relative;
    margin: 15px 10px;
}
.input-group>input{
    color: #1c5db3;
    outline: 0;
    text-indent: 1em;
    background-color: var(--bc);
    border: none;
    height: 28px;
    width: 100%;
    border-bottom: 1px solid rgb(180, 180, 180);
    margin-bottom: 2px;
    font-size: 16px;
}

.input-group::before{
    content: "";
    display: inline-block;
    width: 100%;
    pointer-events: none;
    height: 2px;
    position: absolute;
    background-color: rgb(51, 162, 214);
    bottom: 1px;
    transform: rotatey(90deg);
    transition: all 0.5s;
}
.input-group.textarea::before{
    opacity: 0;
}
.input-group.active::before{
    transform: rotatey(0deg);
}

.input-group>span{
    pointer-events: none;
    position: absolute;
    font-size: 16px;
    color: rgb(128, 128, 128);
    top: 0px;
    left: 10px;
    transition: all 0.3s;
}

.input-group.active>span{
    top: -20px;
    left: 0px;
    font-size: 13px;
    color: rgb(63, 74, 83);
}

.bg-mask{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.3;
    transition: all 0.2s;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
}

.bg-mask.show{
    animation: fade-in 0.3s;
    opacity: 0.3;
    pointer-events: all;
}

.message-frame{
    padding: 10px 20px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    min-width: 320px;
    max-width: 420px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid darkgray;
    background-color: white;
    animation: slide-in 0.4s;
    -webkit-animation: slide-in 0.4s;
    transition: opacity 0.4s;
}
.message-frame.hid{
    opacity: 0;
    animation: slide-out 0.4s;
    -webkit-animation: slide-out 0.4s;
}
.message-frame>*{
    width: 100%;
}
.message-title{
    color: #303133;
    padding: 6px;
    height: 24px;
    font-size: 16px;
    text-align: center;
}
.message-content{
    color: #606266;
    padding: 8px 0;
    text-indent: 2em;
    font-size: 15px;
    flex-grow: 1;
}
.message-content p{
    margin: 0;
}
.message-footer{
    display: flex;
    justify-content: flex-end;
}
.center-container{
    position: fixed;
    display: flex;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.center-container.show{
    opacity: 1;
    pointer-events: all;
}
.center-container>*{
    margin: auto;
}

.slide-in{
    animation: slide-in .3s;
}

.slide-in-slow{
    animation: slide-in .6s;
}

.slide-out{
    animation: slide-out .3s;
    opacity: 0;
}

@keyframes left-slide-in{
    from{ opacity: 0;transform: translateX(-20px); }
    to{ opacity: 1;transform: translateX(0); }
}

@keyframes slide-out{
    to{ opacity: 0;transform: translateY(20px) scale(1.1); }
    from{ opacity: 1;transform: translateY(0); }
}
@-webkit-keyframes slide-out{
    to{ opacity: 0;transform: translateY(20px) scale(1.1); }
    form{ opacity: 1;transform: translateY(0); }
}
@keyframes slide-in{
    from{ opacity: 0;transform: translateY(-20px) scale(1.1); }
    to{ opacity: 1;transform: translateY(0); }
}
@-webkit-keyframes slide-in{
    from{ opacity: 0;transform: translateY(-20px scale(1.1)); }
    to{ opacity: 1;transform: translateY(0); }
}

@keyframes fade-in{
    from{ opacity: 0; }
    to{ opacity: 0.3; }
}
@-webkit-keyframes fade-in{
    from{ opacity: 0; }
    to{ opacity: 0.3; }
}

@keyframes fade-out{
    from{ opacity: 0.3; }
    to{ opacity: 0; }
}
@-webkit-keyframes fade-out{
    from{ opacity: 0.3; }
    to{ opacity: 0; }
}

@media screen and (max-width:1100px){
    .app{
        width: 98%;
        padding: 0 1%;
    }
}
